APP_NAME="Catapult Web"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=catapult_web
DB_USERNAME=root
DB_PASSWORD=031819

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

#Pusher configuration for Catapult Web
PUSHER_APP_ID="CATAPULT_20240104"
PUSHER_APP_KEY="kKkRUSBBCKCqrLSYNTbclA"
PUSHER_APP_SECRET="JhcHBfaWQiOiJjYXRhcHVsdCIsIm5h"
PUSHER_APP_CLUSTER=mt1
PUSHER_APP_PORT=6001

CATAPULT_PORT=80
CATAPULT_KEY="Y2Rpcy0xMTEy"

#Pusher configuration for CDIS, required to make sync work between CDIS and Catapult Web
CDIS_PUSHER_APP_ID="1355368"
CDIS_PUSHER_APP_KEY="182c58278217ab48deab"
CDIS_PUSHER_APP_SECRET="61870452e11b3e2897ba"
CDIS_PUSHER_APP_CLUSTER=eu

#Catapult Web configuration for file handling
CSV_DELIMITER=","
FILE_LIFETIME=60
FILE_CLEANUP=true

#CDIS configuration, necessary for the CDIS integration for file handling and synchronization
CDIS_URL=http://localhost
CDIS_PATH="C:\\Users\\POS\\Documents\\CDIS"
CDIS_FILES_LOCAL_PATH='C:/Users/POS/Documents/CDIS/Reports/001/'
POS_FILES_LOCAL_PATH='D:/Finedine/front/'
POS_DIRECTORIES='READINGS/,RECEIPTS/,JOURNAL/'
POS_TO_CDIS_IGNORE_INITIALS=false
FETCHING_LESS_DAYS_ALLOWANCE=7

# Printers configuration, necessary for the kitchen printer integration and functionality
PRINTER_STICKER="XP-420B" # Sticker printer name
#PRINTER_STICKER="192.168.10.121" # Sticker printer name
PRINTER_KITCHEN="XP-K200L" # KDS printer name, all request from KDS will be printed here such (PRINT ORDER, PRINT BUMPED ITEM, TABLE NO)

# KDS Settings
KDS_BROADCAST_ALL_TOGETHER=true # Whether to broadcast all items together to all devices regardless of their assigned station
KDS_BROADCAST_UNIQUE_DEVICES=false # Whether to broadcast to all unique devices when broadcasting all items together, or to broadcast to all devices including duplicates based on assigned stations
KDS_PRINTER_FAILOVER=false # If there are no online KDS, print the order to the default printer (per barcode) instead

# This section is for the Pusher configuration in the frontend, 
# it allows the frontend to connect to the correct Pusher instance and receive real-time updates.
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MIX_CDIS_KEY="${CATAPULT_KEY}"