.flex-1 {
    flex: 1 !important;
}
.overflow {
    &-initial {
        overflow: initial !important;
    }
}
.ws-nowrap {
    white-space: nowrap !important;
}
.overflow-hidden {
    overflow: hidden !important;
}