.flex-1 {
    flex: 1 !important;
}
.overflow {
    &-initial {
        overflow: initial !important;
    }
    &-auto {
        overflow: auto !important;
    }
    &-x-auto {
        overflow-x: auto !important;
    }
    &-y-auto {
        overflow-y: auto !important;
    }
    &-hidden {
        overflow: hidden !important;
    }
}
.ws-nowrap {
    white-space: nowrap !important;
}
