html, body, #app {
    height: 100%;
}
body {
    &.login {
        padding-top: 0px;
    }
}
#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.page {
    flex: 1;
}
.catapult-logo {
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &-letter {
        &--main {
            color:#DE0900;
            font-size: 32px;
        }
        &--sub {
            font-size: 25px;
        }
    }
}