.table-design {
    &-wrapper {
        position: relative;
        min-height: 300px;
    }
    table {
        border-style: solid;
        border-width: 1px;
        thead {
            th {
                border-style: solid;
                border-width: 1px;
                padding: 4px;
                text-align: center;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        tbody,
        tfoot {
            td {
                padding: 4px;
                word-break: break-all;
            }
        }
    }

    &--striped-rows {
        table {
            tbody {
                tr {
                    &:nth-of-type(odd) {
                        background-color: #fff !important;
                    }
                    &:nth-of-type(even) {
                        background-color: #f0f0f0 !important;
                    }
                }
            }
        }
    }

    &--full-width {
        table {
            width: 100%;
        }
    }

    &--hoverable {
        tbody {
            tr {
                &:hover {
                    background-color: #eee;
                    cursor: pointer;
                }
            }
        }

        &.table-design {
            &--default {
                tbody {
                    tr {
                        &:hover {
                            background-color: darken(#fff, 10%);
                        }
                    }
                }
            }
        }
    }

    &--font-sm {
        thead {
            th {
                font-size: 12px;
            }
        }
        tbody {
            tr {
                td {
                    font-size: 12px;
                }
            }
        }
    }

    &--scrollable-y {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
    }

    &--default-table-structure {
        thead {
            display: table-header-group;
        }
        tbody {
            display: table-row-group;
        }
        tfoot {
            display: table-footer-group;
        }
    }

    &--bordered {
        tbody,
        tfoot {
            td {
                border-style: solid;
                border-width: 1px;
            }
        }
    }

    &--bordered-bottom {
        tbody {
            tr {
                border-width: 1px;
                border-style: solid;
            }
        }
    }

    &--default {
        table {
            border-color: #ccc;
            thead {
                background-color: #f2f2f2;
                th {
                    border-color: #ccc;
                }
            }
            tbody,
            tfoot {
                tr {
                    border-color: #ccc;
                    td {
                        border-color: #ccc;
                    }
                }
            }
        }
    }

    &--blue {
        table {
            border-color: #ccc;
            thead {
                background-color: #1C4D7C;
                color: #fff;
                th {
                    border-color: #ccc;
                }
            }
            tbody,
            tfoot {
                tr {
                    border-color: #ccc;
                    td {
                        border-color: #ccc;
                    }
                }
            }
        }
    }

    &--black {
        table {
            border-color: #ccc;
            thead {
                background-color: #333333;
                color: #fff;
                th {
                    border-color: #ccc;
                }
            }
            tbody,
            tfoot {
                tr {
                    border-color: #ccc;
                    td {
                        border-color: #ccc;
                    }
                }
            }
        }
    }
}

.row {
    &-add {
        color: #00aa27;
        &:hover {
            color: darken(#00aa27, 5%);
            cursor: pointer;
        }
    }
    &-view {
        color: #1178f7;
        &:hover {
            color: darken(#1178f7, 5%);
            cursor: pointer;
        }
    }
    &-update {
        color: #e28000;
        &:hover {
            color: darken(#e28000, 5%);
            cursor: pointer;
        }
    }
    &-delete {
        color: #e01818;
        &:hover {
            color: darken(#e01818, 5%);
            cursor: pointer;
        }
    }
}

.table-layout {
    td {
        padding: 4px;
    }
}

.datatable-row {
    &--sm {
        input[type="text"],
        select {
            border-radius: 0px;
            padding: 4px 8px;
            height: 30px;
        }
    }
}

.tr--selected {
    td {
        background-color: #fff1bc !important;
    }
}